@tailwind base;
@tailwind components;
@tailwind utilities;

.active-link {
    color: blue; /* Change this color to your desired blue color */
    text-decoration: underline;
  }
  
  .inactive-link {
    color: gray; /* Change this color to your desired gray color */
  }
